<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>Controllers.Registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChamadosAbertos</servlet-name>
        <servlet-class>Controllers.ChamadosAbertos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbrirChamado</servlet-name>
        <servlet-class>Controllers.AbrirChamado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Entrar</servlet-name>
        <servlet-class>Controllers.Entrar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChamadosAbertos</servlet-name>
        <url-pattern>/ChamadosAbertos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbrirChamado</servlet-name>
        <url-pattern>/AbrirChamado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Entrar</servlet-name>
        <url-pattern>/Entrar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
